body {
	background-color: rgb(206, 216, 235);
	font-size: xx-large;
}
.left {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.right {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.left:hover {
	background-color: rgb(63, 98, 152);
}
.right:hover {
	background-color: rgb(171, 112, 43);
}
a {
	text-decoration: none;
	color: black;
}
input {
	height: 25px;
}